body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: SEGA LOGO FONT, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

